{{ template "layout" . }}

{{ define "title" }}Kyrksök - Om Kyrksök{{ end }}

{{ define "css" }}{{""}}{{ end }}

{{ define "main-classes" }}fill center-content about{{ end }}

{{ define "content" }}
<img src="logo.svg" class="logo" aria="hidden" alt="logo">
<p>
	Kyrksök startade på <a href="https://www.raa.se/evenemang-och-upplevelser/vara-andra-seminarier-och-konferenser/hack-for-heritage/">hack4heritage</a> i oktober 2016 och byggdes av laget "Holy Hit" bestående av Albin Larsson, Jan Ainali, Lars Lundqvist, Ulrika Nilsson och David Zardini.
</p>
<p>
	Kyrksök bygger på data från <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>, <a href="https://sv.wikipedia.org/wiki/Portal:Huvudsida">Wikipedia</a>, och <a href="https://commons.wikimedia.org/wiki/Huvudsida">Wikimedia Commons</a>.
</p>
<p>
	Bilderna från Wikimedia Commons kan ha lite olika licensvillkor. För full attribuering och licensinformation, klicka på "Wikimedia Commons" vid sidan av bilden. Texten från Wikipedia är under <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.sv">CC BY-SA 3.0</a>. Klicka på Wikipedialänken och sedan historikfliken för att se alla bidragsgivare. All annan information är från Wikidata.
</p>
<p>
	Hjälp gärna till att utveckla projektet på <a href="https://github.com/Kyrkosok">Github</a> eller diskutera i <a href="https://www.facebook.com/groups/1113446342065636/">Facebookgruppen</a> om du känner dig mer bekväm där.
</p>
<a class="footer" href="/" style="bottom: 0; position: absolute; left: 0; width: 100%;">Hem</a>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
