{{ template "layout" . }}

{{ define "title" }}Material - Kyrksök{{ end }}

{{ define "css" }}{{""}}{{ end }}

{{ define "main-classes" }}{{""}}{{ end }}

{{ define "content" }}
<nav class="menu">
	<a href="map.html" class="btn">Plats</a>
	<a href="style.html" class="btn">Stil</a>
	<a href="material.html" class="btn">Material</a>
</nav>
<div>
	<h1>Material</h1>
	{{ range . }}
	<details>
		<summary>{{ tcase .materialLabel.String }} ({{ .count }})</summary>
		{{ include "includes/details.html" (query "church-made-of-material.rq" .qid.String) }}
	</details>
	{{ end }}
</div>
<a class="footer" href="about.html">Om Kyrksök</a>
{{ end }}

{{ define "javascript" }}{{""}}{{ end }}
