html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
}

b,
strong {
  font-weight: bold;
}

.fill {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #75AD66;
}

a:hover,
a:visited {
  color: #4B7740;
}

.hidden {
  display: none;
}

.search-bar {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-results {
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
}

.search-results ul {
  list-style: none;
}

.search-results ul li {
  min-height: 75px;
}

ul li.not-found {
  text-align: center;
}

.search-results ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.search-results ul li a div {
  height: 75px;
  float: left;
  width: 110px;
  text-align: center;
}

.search-results ul li a div img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.search-results ul li a p {
  margin-top: 2px;
}


.expandable-p {
  line-height: 1.42857;
  height: 54px;
  overflow: hidden;
}

header {
  text-align: center;
  position: relative;
}

header img {
  height: 100%;
  width: auto;
  max-height: 350px;
}

header a {
  bottom: 10px;
  right: 5px;
  padding: 5px;
  border-radius: 3px;
  background: rgb(250, 243, 221);
  position: absolute;
  text-decoration: none;
}

.logo {
  width: 160px;
}

.sr-only {
  visibility: hidden;
  height: 0;
  width: 0;
  margin:  0;
  padding: 0;
}

button,
.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  background: #4B7740;
  border: 1px solid #4B7740;
  color: #fff !important;
  font-size: 1rem;
  height: 36px;
  line-height: 34px;
  padding: 0px 18px;
  font-weight: 600;
  text-decoration: none;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

input {
  display: inline-block;
  font-size: 1rem;
  height: 36px;
  line-height: 34px;
  border: 1px solid #3A4E48;
}

#search-btn {
  margin-left: -4px;
  padding-top: 0px;
  background-color: #4B7740;
  color: #fff;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  header img {
    max-width: 100%;
    height: auto;
  }
}