
html * {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
}

b,
strong {
  font-weight: bold;
}

.fill {
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #75AD66;
}

a:hover,
a:visited {
  color: #4B7740;
}

.hidden {
  display: none;
}

.search-bar {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-results {
  top: 0;
  left: 0;
  position: absolute;
  background: #fff;
}

.search-results ul {
  max-width: 50em;
  margin:  auto;
  list-style: none;
  padding: 0;
}

.search-results ul li {
  min-height: 75px;
}

ul li.not-found {
  text-align: center;
}

.search-results ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.search-results ul li a div {
  height: 75px;
  float: left;
  width: 110px;
  text-align: center;
}

.search-results ul li a div img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.search-results ul li a p {
  margin-top: 2px;
  margin-left: 110px;
}


.expandable-p {
  line-height: 1.42857;
  height: 54px;
  overflow: hidden;
}

header {
  text-align: center;
  position: relative;
}

header img {
  height: 100%;
  width: auto;
  max-height: 350px;
  max-width: 100%;
  object-fit: contain;
}

header a {
  bottom: 10px;
  right: 5px;
  padding: 5px;
  border-radius: 3px;
  background: rgb(250, 243, 221);
  position: absolute;
  text-decoration: none;
}

.logo {
  width: 160px;
}

.sr-only {
  visibility: hidden;
  height: 0;
  width: 0;
  margin:  0;
  padding: 0;
}

button,
.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  background: #4B7740;
  border: 1px solid #4B7740;
  color: #fff !important;
  font-size: 1rem;
  height: 36px;
  line-height: 34px;
  padding: 0px 18px;
  font-weight: 600;
  text-decoration: none;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .btn {
    width: calc(100% - 10px);
    margin: 5px;
  }
}

input {
  display: inline-block;
  font-size: 1rem;
  height: 36px;
  line-height: 34px;
  border: 1px solid #3A4E48;
}

#search-btn {
  margin-left: -4px;
  padding-top: 0px;
  background-color: #4B7740;
  color: #fff;
}

#church-report {
  float: right;
  margin-right:10px;
}

.about {
  text-align: left;
  max-width: 600px;
  padding-left: 5px;
  padding-right: 5px;
}

.about p {
  width: inherit;
}

.footer {
  display: block;
  text-align: center;
  margin-top: 10px;
  background: rgb(75, 119, 64);
  color: rgb(255, 255, 255) !important;
  font-size: 1rem;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
}

.church {
  width: inherit;
  margin: auto;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  header img {
    max-width: 100%;
    height: auto;
  }
}

#loading-screen {
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
}

.loading,
.loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loading {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, .0);
  border-right: 1.1em solid rgba(0, 0, 0, .0);
  border-bottom: 1.1em solid rgba(0, 0, 0, .0);
  border-left: 1.1em solid #4B7740;
  transform: translateZ(0);
  animation: load-ani 1.1s infinite linear;
}

@keyframes load-ani {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
